<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Proyecto bootstrap</title>
	<!--<link rel="stylesheet" href="css/main.css" rel="stylesheet" type="text/css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" type="text/css">
</head>
<body style="background-color: rgba(123,129,158,0.5);">
	
<div class="login-box" class="" style="display:">
	<!--<img class="avatar" src="img/banner.jpg" alt="Logo System Urb">-->
	<h2>Login Here</h2>
	<form action="/add" method="post">
	  <div class="form-group">
	    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name" name="nombre">
	  </div>
	  <div class="form-group">
	    
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name" name="apellido">
	  </div>
	  <div class="form-group">
	    
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Number Phone" name="numero">
	  </div>

	  <div class="form-group">
	    
	    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" name="correo">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<!--<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>-->

<script type=text/javascript>
	document.getElementById('exampleInputName').focus();
</script>
	
</body>
</html>